@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
html {
  box-sizing: border-box;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3e1e68;
  overflow: hidden;
  z-index: -5;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 26;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #583c87;
  top: 88%;
  left: 48%;
  animation-duration: 168s;
  animation-delay: -195s;
  transform-origin: -3vw -15vh;
  box-shadow: -40vmin 0 5.230624722440029vmin currentColor;
}
.background span:nth-child(1) {
  color: #583c87;
  top: 33%;
  left: 13%;
  animation-duration: 151s;
  animation-delay: -163s;
  transform-origin: 17vw 2vh;
  box-shadow: -40vmin 0 5.940000138964228vmin currentColor;
}
.background span:nth-child(2) {
  color: #e45a84;
  top: 18%;
  left: 40%;
  animation-duration: 198s;
  animation-delay: -163s;
  transform-origin: 8vw -6vh;
  box-shadow: 40vmin 0 5.864212291830493vmin currentColor;
}
.background span:nth-child(3) {
  color: #e45a84;
  top: 73%;
  left: 20%;
  animation-duration: 15s;
  animation-delay: -219s;
  transform-origin: -14vw -22vh;
  box-shadow: 40vmin 0 5.029026894749998vmin currentColor;
}
.background span:nth-child(4) {
  color: #e45a84;
  top: 47%;
  left: 5%;
  animation-duration: 71s;
  animation-delay: -12s;
  transform-origin: 12vw 14vh;
  box-shadow: -40vmin 0 5.501673219611995vmin currentColor;
}
.background span:nth-child(5) {
  color: #583c87;
  top: 4%;
  left: 89%;
  animation-duration: 221s;
  animation-delay: -105s;
  transform-origin: 20vw 24vh;
  box-shadow: -40vmin 0 5.861214851884884vmin currentColor;
}
.background span:nth-child(6) {
  color: #e45a84;
  top: 23%;
  left: 67%;
  animation-duration: 51s;
  animation-delay: -103s;
  transform-origin: -18vw -13vh;
  box-shadow: 40vmin 0 5.268767160901584vmin currentColor;
}
.background span:nth-child(7) {
  color: #583c87;
  top: 11%;
  left: 22%;
  animation-duration: 101s;
  animation-delay: -15s;
  transform-origin: -23vw 20vh;
  box-shadow: 40vmin 0 5.760806698177033vmin currentColor;
}
.background span:nth-child(8) {
  color: #ffacac;
  top: 44%;
  left: 39%;
  animation-duration: 113s;
  animation-delay: -49s;
  transform-origin: -12vw 17vh;
  box-shadow: 40vmin 0 5.540430830099266vmin currentColor;
}
.background span:nth-child(9) {
  color: #e45a84;
  top: 29%;
  left: 87%;
  animation-duration: 16s;
  animation-delay: -7s;
  transform-origin: -14vw -2vh;
  box-shadow: 40vmin 0 5.226271210014324vmin currentColor;
}
.background span:nth-child(10) {
  color: #e45a84;
  top: 100%;
  left: 37%;
  animation-duration: 21s;
  animation-delay: -79s;
  transform-origin: -10vw 23vh;
  box-shadow: -40vmin 0 5.090921243065213vmin currentColor;
}
.background span:nth-child(11) {
  color: #ffacac;
  top: 20%;
  left: 89%;
  animation-duration: 11s;
  animation-delay: -224s;
  transform-origin: -15vw -4vh;
  box-shadow: 40vmin 0 5.57809088090332vmin currentColor;
}
.background span:nth-child(12) {
  color: #583c87;
  top: 91%;
  left: 5%;
  animation-duration: 166s;
  animation-delay: -239s;
  transform-origin: -14vw 12vh;
  box-shadow: 40vmin 0 5.227569781969994vmin currentColor;
}
.background span:nth-child(13) {
  color: #e45a84;
  top: 26%;
  left: 60%;
  animation-duration: 236s;
  animation-delay: -128s;
  transform-origin: -15vw -5vh;
  box-shadow: 40vmin 0 5.605662680654719vmin currentColor;
}
.background span:nth-child(14) {
  color: #ffacac;
  top: 55%;
  left: 20%;
  animation-duration: 29s;
  animation-delay: -65s;
  transform-origin: -4vw 11vh;
  box-shadow: -40vmin 0 5.998159543126608vmin currentColor;
}
.background span:nth-child(15) {
  color: #e45a84;
  top: 74%;
  left: 41%;
  animation-duration: 191s;
  animation-delay: -146s;
  transform-origin: 23vw 18vh;
  box-shadow: -40vmin 0 5.283999729299124vmin currentColor;
}
.background span:nth-child(16) {
  color: #ffacac;
  top: 27%;
  left: 28%;
  animation-duration: 120s;
  animation-delay: -208s;
  transform-origin: -14vw 4vh;
  box-shadow: -40vmin 0 5.32486044806768vmin currentColor;
}
.background span:nth-child(17) {
  color: #e45a84;
  top: 77%;
  left: 78%;
  animation-duration: 207s;
  animation-delay: -45s;
  transform-origin: -20vw -13vh;
  box-shadow: -40vmin 0 5.087748433137933vmin currentColor;
}
.background span:nth-child(18) {
  color: #ffacac;
  top: 50%;
  left: 50%;
  animation-duration: 164s;
  animation-delay: -168s;
  transform-origin: -8vw 24vh;
  box-shadow: -40vmin 0 5.799118925313084vmin currentColor;
}
.background span:nth-child(19) {
  color: #ffacac;
  top: 61%;
  left: 1%;
  animation-duration: 81s;
  animation-delay: -18s;
  transform-origin: -4vw -15vh;
  box-shadow: 40vmin 0 5.946006019297429vmin currentColor;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;

  color: rgba(255, 255, 255, 0.8);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  width: auto;
  min-width: 400px;
  max-width: 900px;
  padding: 20px 30px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.quote-text {
  font-size: 2.5rem;
}

.long-quote {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 3rem;
}

.quote-author {
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

button {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  filter: brightness(210%);

  transition: 0.2s;
}

// button {
//   cursor: pointer;
//   font-size: 1.2rem;
//   height: 2.5rem;
//   border: none;
//   border-radius: 10px;
//   color: #fff;
//   background-color: #333;
//   outline: none;
//   padding: 0.5rem 1.8rem;
//   box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
//   font-family: Montserrat, sans-serif;
// }

// button:hover {
//   filter: brightness(110%);
// }

button:active {
  transform: translate(0, 0.1rem);
}

.twitter-button:hover {
  color: #38a1f3;
}

.fa-twitter {
  font-size: 1.5rem;
}

/* loader */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #acacac;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media query: tablet or smaller */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }

  .quote-text {
    font-style: 2.25rem;
  }
}

.quote-text {
  padding-bottom: 30px;
}
